<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Edit ucenik</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<br />
		<h1 style="background-color: #b3e6ff; padding: 9px;">Edit ucenik</h1>
		<div class="col-md-6">
			<form th:object="${ucenik}" th:action="@{../save}" action="#"
				method="post">
				<input type="hidden" th:field="*{id}" class="form-control" /> <input
					type="text" th:field="*{brojKnjizice}" class="form-control"
					placeholder="Broj knjizice" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="text" th:field="*{imeRoditelja}" class="form-control"
					placeholder="Ime roditelja" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="text" th:field="*{osnovnaSkola}" class="form-control"
					placeholder="Osnovna skola" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="text" th:field="*{id}" class="form-control"
					placeholder="User Id" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</div>
</body>
</html>
